body 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}
* 
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/desk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.calculator
{
    background-color: lightgray;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-left: 14rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.calculator-display
{
    display: flex;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    justify-content: right;
    background-color: white;
}
.row
{
    display: flex;
    flex-flow: row nowrap;
}
.btn
{
    width: 6rem;
    flex-grow: 0;
    background-color: #304FFE;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid lightgray;
}
.btn:hover,
.btn:active
{
    background-color: #536DFE;
}
.btn.operator, #remove, #clear, #equal
{
    background-color: #6200EA;
}
.btn.operator:hover,
#remove:hover, 
#clear:hover, 
#equal:hover
{
    background-color: #7C4DFF;
}
.equal
{
    flex-grow: 1;
}

/* Typography */
.page-title
{
    width: 100%;
    position: fixed;
    top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.title
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Device 1600x900 */
@media only screen and (max-width: 1910px)
{
    .calculator
    {
        margin: 0 0 0 20%;
    }
}

/* Devices 1366x768 */
@media only screen and (max-width: 1590px)
{
    .container
    {
        justify-content: center;
    }
    .calculator
    {
        margin: 15% 0 0;
    }
}
/* Small devices */
@media only screen and (max-width: 1356px)
{
    .container
    {
        justify-content: center;
    }
    .calculator
    {
        margin: 0;
    }
}